.navbar-brand {
    padding-left: 20px;
}

.navbar {
    background: transparent !important;
}

.Face {
    background-color: black;
    background-image: url('img/Cover-main.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;

}

.home {

    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Face .intro {
    z-index: 2;
}

.Face .intro h1 {
    font-weight: 300;
}

.Face .intro h1 span {
    /* font-size: large; */
    color: red;
}

.Face .intro .projects-button{
    display: block;
    text-align: center;
}

.btn-projects{
    background-color: transparent;
    font-size: medium;
    outline: none;
    border: 1px solid white;
    border-radius: 10px 40px 40px 10px;
    cursor: pointer;
}

.btn-projects a{
    font-size: 17px;
    text-decoration: none;
    color: white;
}

.btn-projects:hover{
    background-color: red;
    border-color: red ;
}