html {
    scrollbar-face-color: #646464;
    scrollbar-base-color: #646464;
    scrollbar-3dlight-color: #646464;
    scrollbar-highlight-color: #646464;
    scrollbar-track-color: #000;
    scrollbar-arrow-color: #000;
    scrollbar-shadow-color: #646464;
    scrollbar-darkshadow-color: #646464;
    /* background-color: #000; */
}

::-webkit-scrollbar {
    width: 8px;
    height: 3px;
}

::-webkit-scrollbar-button {
    background-color: #666;
}

::-webkit-scrollbar-track {
    background-color: #646464;
}

::-webkit-scrollbar-track-piece {
    background-color: #000;
}

::-webkit-scrollbar-thumb {
    height: 50px;
    background-color: #666;
    border-radius: 3px;
}

::-webkit-scrollbar-corner {
    background-color: #646464;
}

::-webkit-resizer {
    background-color: #666;
}

.navbar-brand {
    padding-left: 20px;
}

.navbar-toggler {
    margin-top: 5px;
}

.navbar {
    background: transparent !important;
}

.Face {
    background-color: black;
    background-image: url('img/Cover-main.png');
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 100vh; */
    min-height: 100vh;

}

.home {

    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Face .intro {
    z-index: 2;
}

.Face .intro h1 {
    font-weight: bolder;
    font-size: xx-large;
    text-shadow: 2px 2px black;

}

.Face .intro h1 span {
    /* font-size: large; */
    color: red;
}

.Face .intro .projects-button .experience-button {
    display: block;
    text-align: center;
}

.btn-projects {

    padding: 10px;
    text-shadow: 2px 2px black;
    background-color: transparent;
    font-size: medium;
    outline: none;
    border: 1px solid white;
    font-size: large;
    border-radius: 10px;
    cursor: pointer;
}

.btn-projects a {
    font-size: 17px;
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px black;
}

.btn-projects:hover {
    background-color: red;
    border-color: red;
}


.experience-button {
    margin-top: 10px;
}

.btn-experience {
    padding: 10px;
    text-shadow: 2px 2px black;
    background-color: transparent;
    font-size: medium;
    outline: none;
    border: 1px solid white;
    font-size: large;
    border-radius: 10px;
    cursor: pointer;
}

.btn-experience a {
    font-size: 17px;
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px black;
}

.btn-experience:hover {
    background-color: red;
    border-color: red;
}


#portfolio {
    /* background-color: rgb(38, 38, 38); */
    background-color: #000;
    /* height: 100vh; */
    color: white;
    /* border: 1px solid white; */
}



.projects {
    display: inline-flex;
    justify-content: space-around;
    padding: 20px;
    flex-wrap: wrap;
    flex-direction: row;

}

.card {
    margin: 20px;
}

.card img{
    height: 150px;
}

/* Contact Section */

#contact {
    background-color: rgb(38, 38, 38);
    height: 100vh;
    color: white;
    position: relative;
}

.contact-container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.contact-left{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.contact-left h2{
    font-weight: 600;
    color: #a363aa;
    font-size: 40px;
    margin-bottom: 5px;
}

.contact-left hr{

    border: none;
    width: 120px;
    height: 5px;
    background-color: #a363aa;
    border-radius: 10px;
    margin-bottom: 20px;

}

.contact-inputs{
width: 400px;
height: 50px;
border: none;
outline: none;
padding-left: 25px;
font-weight: 500;
color: #666;
border-radius: 50px;
}

.contact-left textarea{
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
}

.contact-inputs:focus{
   border: 2px solid #ff994f;
}

.contact-inputs:placeholder{
    color: #a9a9a9;
}

.contact-left button{
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: #fff;
    gap: 10px;
    border:none;
    border-radius: 50px;
    background: linear-gradient(270deg, #ff994f,#fa6d86);
    cursor: pointer;
}

.contact-left button img{
    height: 15px;
}

.contact-right img{
    width: 500px;
}



#about {
    /* background-color: rgb(38, 38, 38); */

    background-color: #000;
    height: 100vh;
    color: white;
    /* border: 1px solid white; */
}

#about p {
    font-size: 52pxs;
    text-align: center;
    padding-top: 100px;
}


footer {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #000;
    align-items: center;
    text-align: center;
    color: white;
    /* height: auto; */
}


@media (max-width:800px) {
    .contact-inputs{
        width: 80vw;
    }
    .contact-right{
        display: none;
    }
}