.navbar-brand{
    padding-left: 20px;
}

.navbar{
    background: transparent !important;
}

.Face{
    background-color: aqua;
    background-image: url('img/Cover-main.png');
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;
}